<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="ilike.ildrio.mapper.member.MemberTechMapper">    
 
 
 
	<select id="getListCount_memberTech"  parameterType="ilike.ildrio.model.member.MemberTechModel"  resultType="java.lang.Integer"> 
		SELECT FOUND_ROWS() totRow
	</select> 
	 
	<select id="getList_memberTech"  parameterType="ilike.ildrio.model.member.MemberTechModel" resultType="ilike.ildrio.model.member.MemberTechModel">  
		<![CDATA[   
		select	SQL_CALC_FOUND_ROWS  
			 mtc.member_no  
			, mtc.tech_code  
			, mtc.career_code  
			, mtc.career_memo  
			, mtc.recomand_receive_yn  
			, mtc.insert_datetime  
			, mtc.update_datetime  
		from  member_tech mtc
	 	]]> 
		<where>   
			<if test="techCode != null and techCode != '' ">   
				and mtc.tech_code = #{techCode}   
			</if>   
			<if test="careerCode != null and careerCode != '' ">   
				and mtc.career_code = #{careerCode}   
			</if>   
		</where>   
		<if test="srhOrderBy != null and  srhOrderBy != '' ">   
			order by 	${srhOrderBy} ${srhOrderAsc}   
		</if>   
		limit ${startRow} , ${pageRow}    
	</select>  
 
	<select id="subList_memberTech"  parameterType="ilike.ildrio.model.member.MemberTechModel" resultType="ilike.ildrio.model.member.MemberTechModel">  
	</select>  
 
	<select id="getMap_memberTech"  parameterType="ilike.ildrio.model.member.MemberTechModel" resultType="ilike.ildrio.model.member.MemberTechModel">  
		<![CDATA[   
		select  
			 mtc.member_no  
			, mtc.tech_code  
			, mtc.career_code  
			, mtc.career_memo  
			, mtc.recomand_receive_yn  
			, mtc.insert_datetime  
			, mtc.update_datetime  
		from  member_tech mtc
		where mtc.member_no = #{memberNo}  
		and mtc.tech_code = #{techCode}  
	 	]]> 
	</select>  
 
	<select id="getCount_memberTech"  parameterType="ilike.ildrio.model.member.MemberTechModel"  resultType="java.lang.Integer">  
		<![CDATA[   
		select 	count(*) count  
		from 	member_tech  
		where member_no = #{memberNo}  
		and tech_code = #{techCode}  
		and career_code = #{careerCode}  
	 	]]> 
	</select>  
 
	<update id="insert_memberTech"  parameterType="ilike.ildrio.model.member.MemberTechModel">  
		<![CDATA[   
		insert into member_tech (  
			 member_no   
			, tech_code   
			, career_code   
			, career_memo   
			, recomand_receive_yn   
			, insert_datetime   
			, update_datetime   
	 	) values (  
			 #{memberNo}  
			, #{techCode}  
			, #{careerCode}  
			, #{careerMemo}  
			, #{recomandReceiveYn}  
			, now()  
			, now()  
	 	)   
	 	]]> 
	</update>  
 
	<update id="update_memberTech"  parameterType="ilike.ildrio.model.member.MemberTechModel">  
		<choose>   
			<when test=" trxnMode == 'list_update' ">   
				<![CDATA[   
				update member_tech set  
					 update_datetime = now()  
				where member_no = #{memberNo}  
				and tech_code = #{techCode}  
	 			]]> 
			</when>   
			<otherwise>   
				<![CDATA[   
				update member_tech set  
					 career_code = #{careerCode}  
					, career_memo = #{careerMemo}  
					, recomand_receive_yn = #{recomandReceiveYn}  
					, update_datetime = now()  
				where member_no = #{memberNo}  
				and tech_code = #{techCode}  
	 			]]> 
			</otherwise>   
		</choose>   
	</update>  
 
	<update id="delete_memberTech"  parameterType="ilike.ildrio.model.member.MemberTechModel">  
		<![CDATA[   
		delete from member_tech   
		where member_no = #{memberNo}  
		and tech_code = #{techCode}  
	 	]]> 
	</update>  
 
</mapper>