<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<th:head th:fragment="AdminLayoutCss">


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Language" content="ko">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ILIKE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="description" content="This is an example dashboard created using build-in elements and components.">
	<!-- Disable tap highlight on IE -->
	<meta name="msapplication-tap-highlight" content="no">


	<link rel="stylesheet" th:href="@{/resources/architect-ui/vendors/@fortawesome/fontawesome-free/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/resources/architect-ui/vendors/ionicons-npm/css/ionicons.css}">
	<link rel="stylesheet" th:href="@{/resources/architect-ui/vendors/linearicons-master/dist/web-font/style.css}">
	<link rel="stylesheet" th:href="@{/resources/architect-ui/vendors/pixeden-stroke-7-icon-master/pe-icon-7-stroke/dist/pe-icon-7-stroke.css}">
	<link rel="stylesheet" th:href="@{/resources/architect-ui/styles/css/base.css}">


	<!-- fontawesome -->
	<link rel="stylesheet" th:href="@{https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css}">
	<link rel="stylesheet" th:href="@{https://site-assets.fontawesome.com/releases/v6.3.0/css/sharp-solid.css}">
	<link rel="stylesheet" th:href="@{https://site-assets.fontawesome.com/releases/v6.3.0/css/sharp-regular.css}">

	<!-- 구글 웹폰트 -->
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" />
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap}">
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap}">

	<!-- Icon Font CSS -->
	<link rel="stylesheet" th:href="@{/resources/assets/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/css/ionicons.min.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/css/linearicons.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/css/flaticon.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/css/simple-line-icons.css}">

	<!-- ezwxCss_v3-->
	<link rel="stylesheet" th:href="@{/resources/custom-css/ezwxCss_v3.css}">
	
	<!-- partnerCommon-->
	<link rel="stylesheet" th:href="@{/resources/custom-css/partnerCommon.css}">

	<!-- begin::개별 페이지 CSS -->
	<th:block layout:fragment="customCss"></th:block>
	<!-- end::개별 페이지 CSS -->


</th:head>

</html>