<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<th:block th:fragment="commonSideMenu">
    <div class="m_side_menu">
        <div class="m_side_top">
            <h1>카테고리</h1>
            <div class="m_side_close">
                <img alt="" th:src="@{/resources/images/icon/m_side_close.png}">
            </div>
        </div>
        <div class="m_side_main">
            <div class="m_dep_1">
                <ul id="ul_mdep_1">
                    <li><a href="#">뷰티</a></li>
                    <li><a href="#">생활용품</a></li>
                    <li><a href="#">반려동물용품</a></li>
                    <li><a href="#">헬스/건강식품</a></li>
                    <li><a href="#">스포츠/레저</a></li>
                    <li><a href="#">뷰티</a></li>
                    <li><a href="#">생활용품</a></li>
                    <li><a href="#">반려동물용품</a></li>
                    <li><a href="#">헬스/건강식품</a></li>
                    <li><a href="#">스포츠/레저</a></li>
                    <li><a href="#">생활용품</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</th:block>