<th:block th:fragment="shopAdminModal">

	<!-- popupPageModal -->
	<div class="modal fade" id="popupPageModal" tabindex="-1" aria-labelledby="popupPageModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
			<div class="modal-content" id="popupPageContent" style="height: 700px;">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="popupPageModalTitle">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" style="padding: 0;">
					<iframe id="modal_iframe" name="modal_iframe" style="width: 100%; height: 500px;" src=""></iframe>
				</div>
				<div class="modal-footer" id="modal_button" style="padding: 5px 20px;"></div>
			</div>
		</div>
	</div>

	<!-- processMsg -->

	<div id="processMsg" style="position: absolute; width: 100px; height: 60px; z-index: 999; display: none; text-align: center;">
		<button class="btn btn-light" type="button" disabled>
			<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
			<span role="status">Loading...</span>
		</button>
	</div>
	<!-- // processMsg -->

</th:block>

